---
# tasks file for ocp4-idp
- name: Set the blank fact for IDPs
  set_fact:
    idp_collection: []

- name: Loop through the idp_providers
  include_tasks: loop.yml
  loop: "{{ idp_providers }}"
  loop_control:
    loop_var: provider

- name: Add the IDP collection to the cluster
  kubernetes.core.k8s:
    kubeconfig: "{{ generated_asset_directory }}/{{ cluster_id }}/kubeconfig"
    state: present
    merge_type:
    - strategic-merge
    - merge
    definition:
      apiVersion: config.openshift.io/v1
      kind: OAuth
      metadata:
        name: cluster
      spec:
        identityProviders: "{{ idp_collection }}"

- name: Loop through the idp_providers for any LDAP group sync setups
  include_tasks: ldap-group-sync.yml
  loop: "{{ idp_providers }}"
  loop_control:
    loop_var: provider