apiVersion: crd.nutanix.com/v1alpha1
kind: NutanixCsiStorage
metadata:
  name: nutanixcsistorage
  namespace: {{ operator_namespace }}
spec:
  node:
    image: >-
      registry.connect.redhat.com/nutanix/ntnx-csi-os@sha256:0d5a433aee91a9abfe5d8984ded09cf094de53f091edf18ee7a4b105d1c09c09
  provisioner:
    image: >-
      registry.connect.redhat.com/nutanix/ntnx-csi-os@sha256:0d5a433aee91a9abfe5d8984ded09cf094de53f091edf18ee7a4b105d1c09c09
  sidecars:
    livenessprobe:
      image: >-
        k8s.gcr.io/sig-storage/livenessprobe@sha256:1b7c978a792a8fa4e96244e8059bd71bb49b07e2e5a897fb0c867bdc6db20d5d
    provisioner:
      image: >-
        k8s.gcr.io/sig-storage/csi-provisioner@sha256:c8e03f60afa90a28e4bb6ec9a8d0fc36d89de4b7475cf2d613afa793ec969fe0
    registrar:
      image: >-
        k8s.gcr.io/sig-storage/csi-node-driver-registrar@sha256:2dee3fe5fe861bb66c3a4ac51114f3447a4cd35870e0f2e2b558c7a400d89589
    resizer:
      image: >-
        k8s.gcr.io/sig-storage/csi-resizer@sha256:36c31f7e1f433c9634d24f876353e8646246d81a03c4e351202c2644daff1620
    snapshotController:
      image: >-
        quay.io/k8scsi/snapshot-controller@sha256:45720fd73a0de75ad512351a725c197a6c144912b1cb09500c09752a3741388c
    snapshotter:
      image: >-
        quay.io/k8scsi/csi-snapshotter@sha256:35ead85dd09aa8cc612fdb598d4e0e2f048bef816f1b74df5eeab67cd21b10aa
