apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ operator_namespace }}
data:
  # base64 encoded prism-ip:prism-port:admin:password
  # E.g.: echo -n "10.0.00.000:9440:admin:mypassword" | base64
  key: {{ (nutanix_csi_prism_hostname + ':' + nutanix_csi_prism_port|string + ':' + nutanix_csi_prism_username + ':' + nutanix_csi_prism_password) | b64encode }}