---
# ===========================================================================
# Get the Infrastructure Provider for this host
# ===========================================================================

- name: Get the infrastructure provider for this host
  ansible.builtin.include_tasks: "target_infra_credential.yaml"

# ===========================================================================
# Remove VM
# ===========================================================================

# TODO: Come back and check for the VM's existence before trying to delete it
#       This will prevent the playbook from failing if the VM doesn't exist,
#       and allow us to remove the ignore_errors: true and skip_ansible_lint
#       tags from the tasks below.

- name: Power Off VM - {{ node_item.name }}
  community.vmware.vmware_guest:
    hostname: '{{ provider.credentials.vcenter_hostname }}'
    username: '{{ provider.credentials.vcenter_username }}'
    password: '{{ provider.credentials.vcenter_password }}'
    validate_certs: '{{ provider.credentials.vcenter_verify_ssl }}'
    datacenter: "{{ provider.configuration.vcenter_datacenter }}"
    datastore: "{{ provider.configuration.vcenter_datastore }}"
    cluster: "{{ provider.configuration.vcenter_cluster }}"
    name: "{{ cluster_name }}-{{ node_item.name }}"
    folder: "{{ cluster_name }}"
    state: powered-off
  ignore_errors: true
  tags:
    - skip_ansible_lint # The modules aren't really great at error handling
    - vmware_tasks
    - vmware_destroy_vms
    - vmware_halt_vm

- name: Delete VM - {{ node_item.name }}
  community.vmware.vmware_guest:
    hostname: '{{ provider.credentials.vcenter_hostname }}'
    username: '{{ provider.credentials.vcenter_username }}'
    password: '{{ provider.credentials.vcenter_password }}'
    validate_certs: '{{ provider.credentials.vcenter_verify_ssl }}'
    datacenter: "{{ provider.configuration.vcenter_datacenter }}"
    datastore: "{{ provider.configuration.vcenter_datastore }}"
    cluster: "{{ provider.configuration.vcenter_cluster }}"
    name: "{{ cluster_name }}-{{ node_item.name }}"
    folder: "{{ cluster_name }}"
    state: absent
  ignore_errors: true
  tags:
    - skip_ansible_lint # The modules aren't really great at error handling
    - vmware_tasks
    - vmware_destroy_vms
    - vmware_delete_vm
