{"ignition":{"version":"{{ ignition_version }}"},"storage":{"files":[{% if ignitionConfigOverrideFiles is defined %}{% for file in ignitionConfigOverrideFiles %}{"path":"{{ file.path }}","mode":{{ file.mode | default('420') }},"overwrite":true,"user":{"name":"root"},"contents":{"source":"data:text/plain;base64,{{file.contents|b64encode}}"}}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}]}}