[
{% for iface in ocp_node.networking.interfaces -%}
{% if mac_address is defined -%}
  {
    "mac_address": "{{ iface.mac_address }}",
    "logical_nic_name": "{{ iface.name }}"
  }{% if iface.name != ocp_node.networking.interfaces[-1].name %},{% endif %}
{% endif %}{% endfor %}
]