[
{% for iface in ocp_node.interfaces -%}
  {
    "mac_address": "{{ iface.mac_address }}",
    "logical_nic_name": "{{ iface.name }}"
  }{% if iface.name != ocp_node.interfaces[-1].name %},{% endif %}
{% endfor %}
]