---
- name: Set up Basic Username/Password authentication
  when: assisted_service_authentication == "user-pass"
  block:
  - name: Set up temporary fact
    set_fact:
      tmp_auth_header_fact:
        Authorization: "Basic {{ (assisted_service_authentication_basic_username + ':' + assisted_service_authentication_basic_password)|b64encode }}"

  - name: Set up headers for Username/Password authentication
    set_fact:
      compiled_uri_headers: "{{ compiled_uri_headers | combine(tmp_auth_header_fact) }}"

- name: Set up Bearer Token authentication
  when: assisted_service_authentication == "bearer-token"
  block:
  - name: Fetch the Bearer Token
    when: rh_api_offline_token is undefined
    ansible.builtin.slurp:
      src: "{{ rh_api_offline_token_path }}"
    register: offlineTokenSlurp
      
  - name: Set the Bearer Token from a file
    when: rh_api_offline_token is undefined
    ansible.builtin.set_fact:
      assisted_service_authentication_api_bearer_token: "{{ offlineTokenSlurp['content'] | b64decode }}"
  
  - name: Log into RH SSO API
    when: assisted_service_fqdn == "api.openshift.com"
    uri:
      url: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
      body_format: form-urlencoded
      method: POST
      body:
        grant_type: refresh_token
        client_id: rhsm-api
        refresh_token: "{{ assisted_service_authentication_api_bearer_token }}"
    register: rh_sso_reg
    until: rh_sso_reg is not failed
    retries: 30
    delay: 10

  - name: Set up temporary fact for RH Offline Token exchange
    when: assisted_service_fqdn == "api.openshift.com"
    set_fact:
      tmp_auth_header_fact:
        Authorization: "Bearer {{ rh_sso_reg.json.access_token }}"

  - name: Set up temporary fact for normal non-RH Bearer Token
    when: assisted_service_fqdn != "api.openshift.com"
    set_fact:
      tmp_auth_header_fact:
        Authorization: "Bearer {{ assisted_service_authentication_api_bearer_token }}"

  - name: Set up headers for Bearer authentication
    set_fact:
      compiled_uri_headers: "{{ compiled_uri_headers | combine(tmp_auth_header_fact) }}"
